@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.ant-layout-sider-children{
  background-color: aliceblue;
}

.ant-picker-calendar-header{
  display: none;
}

.test{
  border-radius: 100%;
  background-color: chartreuse;
  width: 100%;
   z-index: -1;
   padding: 4px;
   position: absolute;
   right: 0;
   bottom: 5px;
}